@model Insurance.Models.Service

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуга - Флекс страхование</title>
    <link rel="stylesheet" href="~/css/ServiceDetails.css" />
</head>

<body>

    @{
        var isAdminOrAgent = (bool)(ViewData["IsAdminOrAgent"] ?? false);
    }

    <div class="service-card">
        <h3 class="service-name">@Model.Name</h3>
        <p class="service-type">Тип: @Model.Type</p>
        <p class="service-price">Стоимость: @Model.Price.ToString("F2") ₽</p>
        <p class="service-description">@Model.Description</p>
    </div>

    <div>
       @*  @if (isAdminOrAgent)
        {
            <a asp-action="Manage" class="btn btn-secondary">Управление</a>
        } *@

        @* <a asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-back">Назад</a> *@
    </div>
</body>
