@model Insurance.Models.RegisterViewModel

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>

<div class="auth-page">
    <div class="content">
        <h1>регистрация</h1>
        <form asp-action="Register" method="post">
            <div>
                <label asp-for="Name">имя</label>
                <input asp-for="Name" />
            </div>
            <div>
                <label asp-for="Email">email</label>
                <input asp-for="Email" />
            </div>
            <div>
                <label asp-for="Password">пароль</label>
                <input asp-for="Password" type="password" />
            </div>
            <div>
                <label asp-for="TaxId">ИНН</label>
                <input asp-for="TaxId" />
            </div>
            <div>
                <label asp-for="Phone">телефон</label>
                <input asp-for="Phone" type="tel" />
            </div>
            <div>
                <label asp-for="UserType">тип пользователя</label>
                <select asp-for="UserType">
                    <option>физическое лицо</option>
                    <option>юридическое лицо</option>
                </select>
            </div>
            <button type="submit">зарегистрироваться</button>
        </form>
        <div class="links">
            <a asp-controller="Account" asp-action="Login">вход</a>
        </div>
    </div>
</div>
