@model IEnumerable<Insurance.Models.Service>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - Флекс страхование</title>
    <link rel="stylesheet" href="~/css/StyleMain.css" />
</head>
<body>
    <div class="content text-center">
        <div class="services-section">
            <h2 class="section-title">выберите своё страхование уже сейчас</h2>
            <div class="services-container">
                @foreach (var service in Model)
                {
                    <a asp-controller="Services" asp-action="Details" asp-route-id="@service.Id" class="service-card-link">
                        <div class="service-card">
                            <h3 class="service-name">@service.Name</h3>
                            <p class="service-type">@service.Type</p>
                            <p class="service-price">@string.Format("{0:F2} ₽", service.Price)</p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</body>
</html>
